.projectCard {
  box-shadow: none;
}

.links a{
  float:left;
  color: #192D1F;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.links a:hover{
  font-style: italic;
}


h5.projectName, .card-title {
  text-align: left;
  font-weight: lighter;
  letter-spacing: .2rem;
  margin-block-end: 0;
  margin-block-start: 0;
  text-transform: uppercase;
}

h5.projectName:hover{
  font-weight: normal;
}

.projects{
  color: #192D1F;
  font-weight: lighter;
  position: relative;
}

.projectImage{
  background-color: white;
  min-width: 150px;
  min-height: 150px;
  z-index: 1;
  box-shadow: 5px 5px 15px #AEBAB3;
}

.card-image {
    opacity: .75;
}

.projectCard:hover{
  background-color: #D2E0D8;
}
.card-reveal:hover{
  font-weight: lighter;
}

.projectDetails{
  background-color: #D2E0D8;
}

.card-action.status {
  border-top: none;
  font-weight: lighter;
  position: relative;
  padding: 0 24px;
  text-align: left;
  text-transform: uppercase;
}

.card-reveal p{
  text-align: left;
}

#projectsSection:before {
  background: inherit;
  background-color: #D2E0D8;
  top: -20%;
  content: '';
  display: block;
  height: 30%;
  left: 0;
  right: 0;
  position: absolute;
  transform: skewY(1.25deg);
  transform-origin: 100%;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  #projectsSection:before {
    height: 3%;
    top: -5%;
  }
}

@media only screen and (max-width: 1000px) {
  #projectsSection:before {
    height: 10%;
    top: -5%;
  }
}
