.about{
  background-color: white;
  margin-top: 3em;
  overflow: hidden;
}

.skill{
  font-size: .8rem;
  letter-spacing: .1rem;
  font-weight: lighter;
}

#aboutMe{
  color: #192D1F;
  float: left;
  font-weight: lighter;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  width: 49%;
}

#techStack{
  background-color: #1D3524;
  background-image: -webkit-linear-gradient(#1D3524,#284932);
  color: white;
  float: right;
  font-weight: lighter;
  letter-spacing: .1rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 2em;
  margin-right: 2em;
  width: 40%;
}

#techStack h4{
  color: white;
  font-weight: lighter;
  letter-spacing: .25em;
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
  text-align: left;
}
 #techStack h5{
   letter-spacing: .2rem;
   font-size: 1.1rem;
   font-style: italic;
   font-weight: lighter;
   text-transform: uppercase;
   text-align: left;
   margin-top: 2rem;
   margin:2rem 0 .2rem 0;
 }
