.about{
  padding-left: 2em;
  background-color: white;
  margin-top: 3em;
  overflow: hidden;
}

#aboutMe{
  float: left;
  text-align: left;
  padding: 0;
  color: #192D1F;
  font-weight: lighter;
  width: 49%;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
}

#techStack{
  background-color: #1D3524;
  float: right;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 2em;
  margin-right: 2em;
  width: 40%;
}

#techStack h4{
  color: white;
  font-weight: lighter;
  letter-spacing: .25em;
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
  text-align: left;
}
