.contactInfo{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: .25rem;
  line-height: 2.5rem;
  margin-left: 0;
  padding: 0 .1rem;
  text-align: left;
}
.contactType{
  font-weight: normal;
  font-style: italic;
  color: #1D3524;
  letter-spacing: normal;
  text-transform:none;
}

.contactType:hover{
  font-style: normal;
}

.nonProfitSection{
  color:#1D3524;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: lighter;
  position: relative;
}

#letMeKnow a{
  color:#1D3524;
  font-weight: bold;
}

#letMeKnow a:hover{
  color:#1D3524;
  font-style: italic;
  font-weight: bold;
}
