.contactInfo{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: .25rem;
  line-height: 2.5rem;
  margin-left: 0;
  padding: 0 .1rem;
  text-align: left;
}
.contactType{
  font-weight: normal;
  font-style: italic;
  color: #1D3524;
  letter-spacing: normal;
  text-transform:none;
}

.contactType:hover{
  font-style: normal;
}

.nonProfitSection{
  color:#1D3524;
  text-align: right;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: lighter;
  position: relative;
}

.nonProfit{
  font-weight: bold;
}
.buttonContainer{
}
#messageBtn {
  background-color: #D2E0D8;
  /* background-image: -webkit-linear-gradient(#1D3524,#284932); */
  border: 1.5px solid #1D3524;
  border-radius: 0;
  color: #1D3524;
  filter: drop-shadow(0);
  font-weight: normal;
  letter-spacing: .15rem;
  position: absolute;
  bottom: 40%;
  right: 5%;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow:0 0 0 0;
}

#messageBtn:hover {
  font-style: italic;
  background-color: #D2E0D8;
  -webkit-box-shadow: 0;
  box-shadow:0;
}
