#video{
  width: 100%;
}

.logo{
  text-transform: uppercase;
  padding: 0px;
  text-align: center;
  margin-bottom:0;
  width:100%;
  z-index: 1;
  position: absolute;
  top:26%;
  color: rgb(255, 255, 255, .55);
}
.logo h1{
  font-size: 6.5em;
  letter-spacing: .23em;
  line-height: .85em;
  margin-bottom: .15em;
  margin-top: 0;
  font-weight: normal;
  font-style: italic;
}

ul{
  padding-inline-start: 0;
}

#laste{
  letter-spacing: normal;
}

#lastname{
  letter-spacing: normal;
  letter-spacing: .08em;
}

.logo h2{
  color: rgb(255, 255, 255, .55);
  letter-spacing: .3em;
  font-weight: lighter;
  font-size: 1.55em;
  line-height: normal;
  margin: 0 0 .5em 0;
}


li{
  display: inline;
  font-style: italic;
  letter-spacing: .2em;
}

#centerButton{
  padding-right: 2.75em;
  padding-left: 2.75em;
}

#landingNav li:hover{
  color: rgb(255, 255, 255, .9);
  font-style: normal;
}

a{
  color: rgb(255, 255, 255, .55)
}
