.landing{
  background-color: grey;
}

.logo{
  text-transform: uppercase;
  padding: 0px;
  text-align: center;
  margin-bottom:0;
  width:100%;
  z-index: 1;
  position: absolute;
  top:26%;
  color: rgb(255, 255, 255, .55);
}
.logo h1{
  font-size: 6.5em;
  letter-spacing: .23em;
  line-height: .85em;
  margin-bottom: .15em;
  margin-top: 0;
  font-weight: normal;
}

#lastname{
  letter-spacing: normal;
  letter-spacing: .08em;
}

.logo h2, #landingNav{
  margin-top: 0;
  color: rgb(127, 153, 127, .75);
  letter-spacing: .25em;
  font-weight: lighter;
}

li{
  display: inline;
}

#centerButton{
  padding: 10px;
}

#landingNav li:hover{
  color: rgb(255, 255, 255, .55);
  font-weight: bold;
  display: inline;
}
